:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  user-select: none;
}
table { margin:auto; }
td.ej {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  width: 81px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(44, 98, 142);
  text-shadow: 1px 1px 3px rgb(87, 87, 87);
  cursor: not-allowed;
}
td.z1, td.z2 {
  border-radius: 20px;
  width: 25px;
  height:25px;
  box-shadow: 1px 1px 5px black;
  cursor: not-allowed;
}
td.z1 {
  background-color: rgb(16, 87, 84);
}
td.z2 {
  background-color: rgb(118, 34, 46);
}
td {
  text-align: center;
  border-radius: 6px;
  box-shadow: 1px 1px 3px inset black;
  width: 40px;
  height: 40px;
  background-color: rgb(188, 205, 207);
  cursor: pointer;
}
td.x1-1 {
  background-color: rgb(59, 169, 163);
}
td.x1-2 {
  background-color: rgb(187, 98, 112);
}
td.x0-1:hover {
  background-color: rgb(192, 255, 252);
}
td.x0-2:hover {
  background-color: pink;
}
td.x1-1:hover, td.x1-2:hover {
  cursor:not-allowed;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
h1 {
  font-family: 'Courier New', Courier, monospace;
}